{{#if sessionFlash.message}} <! bildirim mesajları>
<div id="toast-container" class="toast-bottom-right">
    <div class="toast toast-info" aria-live="polite" style="display: block;">
        <div class="toast-progress" style="width: 49.58%;"></div><button type="button" class="toast-close-button"
            role="button">×</button>
        <div class="toast-title">Bottom Right</div>
        <div class="toast-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum numquam blanditiis cum quae molestias, sequi non laborum et doloribus vitae?</div>
    </div>
</div>
{{/if}}
