<div class="authincation h-100 content-body">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <img src="/assets/images/pblogo.webp" alt="">
                                </div>
                                <h4 class="text-center mb-4">Create new account</h4>
                                <form action="/users/register" method="POST">
                                    <div class="form-group md-12 row">
                                        <div class="col-md-6"> <label class="mb-1"><strong>Name</strong></label>
                                            <input type="text" name="userName" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-md-6"> <label class="mb-1"><strong>Surname</strong></label>
                                            <input type="text" name="userSurname" class="form-control"
                                                placeholder="Surname">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" name="mailAddress" class="form-control"
                                                placeholder="hello@example.com">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="mb-1"><strong>Phone Number</strong></label>
                                            <input type="tel" name="phoneNumber" class="form-control"
                                                placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" id="userPassword" name="password"
                                                class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="text-center mt-4">
                                                <button type="button" onclick="randomPassword()"
                                                    class="btn btn-info btn-block lh-1">Generate Random
                                                    Password</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Role</label>
                                        <div class="dropdown bootstrap-select form-control default-select dropup">
                                            <select class="form-control default-select" id="roleSelect" name="role"
                                                onchange="registerRoleChange()" tabindex="null">

                                                <option selected disabled>Please Select Role</option>
                                                <option value="Student">Student</option>
                                                <option value="Teacher">Teacher</option>
                                                <option value="Admin">Admin</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row visually-hidden" id="studentGroup">
                                        <div class="form-group col-md-6">
                                            <label class="mb-1"><strong>Parent Name</strong></label>
                                            <input type="text" name="parentName" class="form-control"
                                                placeholder="Parent Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="mb-1"><strong>Parent Phone Number</strong></label>
                                            <input type="text" name="parentPhoneNumber" class="form-control"
                                                placeholder="Parent Phone Number">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="mb-1"><strong>Grade</strong></label>
                                            <input type="text" name="grade" class="form-control" placeholder="Grade">
                                        </div>
                                    </div>
                                    <div class="row visually-hidden" id="teacherGroup">
                                        <div class="form-group">
                                            <label>Choose the lesson(s) the teacher will teach:</label>
                                            <div
                                                class="dropdown bootstrap-select show-tick form-control default-select">
                                                <select multiple="" class="form-control default-select" name="lesson"
                                                    id="sel2">
                                                    <option value="Math">Math</option>
                                                    <option value="Computer Science">Computer Science</option>
                                                    <option value="Business">Business</option>
                                                    <option value="TOFEL">TOFEL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">Create new user</button>
                                    </div>
                                </form>
                                {{!-- <div class="new-account mt-3">
                                    <p>Already have an account? <a class="text-primary"
                                            href="https://owlio.dexignzone.com/codeigniter/demo/page_login">Sign in</a>
                                    </p>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>